.title {
  text-align: center;
  margin-top: 0;
  padding: 10px 10px;
  background-color: rgb(34, 50, 37);
  color: white;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}


.ship-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(62, 99, 88);
  max-width: 200px;
  min-width: 200px;
  max-height: 100px;
  min-height: 100px;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  
}

.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;

}

.details-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(62, 99, 88);
  max-width: 300px;
  min-width: 400px;
  max-height: 100px;
  min-height: 250px;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 0px 20px;
  justify-content: center;
  color: white;
  text-decoration: none;
}